<h1>PRODUCTOS:</h1>

<ul id="productList">
  {{#each products}}
    <li><strong>ID:</strong> {{this.id}} | <strong>Nombre:</strong> {{this.title}} - <strong>Precio:</strong> ${{this.price}}</li>
  {{/each}}
</ul>

<h2>AGREGAR PRODUCTO</h2>
<form id="addProductForm">
  <input type="text" name="title" placeholder="Título" required>
  <input type="text" name="description" placeholder="Descripción" required>
  <input type="text" name="code" placeholder="Código" required>
  <input type="number" name="price" placeholder="Precio" required>
  <input type="number" name="stock" placeholder="Stock" required>
  <input type="text" name="category" placeholder="Categoría" required>
  <button type="submit">Agregar</button>
</form>

<h2>ELIMINAR PRODUCTO</h2>
<form id="deleteProductForm">
  <input type="number" name="deleteId" placeholder="ID del producto" required>
  <button type="submit">Eliminar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>